<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row  ">
        <div style="background-color: darkgray; height: 53vh;" class="col-md-12">
            <div  >
                <mat-card class="mt-5">
                    <form [formGroup]="emailForm">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Enter Email</mat-label>
                            <input formControlName="email" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input formControlName="pswd" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                    </form>
                    <form [formGroup]="todoForm">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Enter Todo here</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Eg:Do MERN PROJCT</mat-hint>
                          </mat-form-field>
                          <div class="row ">
                            <div class="col text-center w-50">
                                <button mat-raised-button color="primary"  [disabled]="todoForm.invalid" *ngIf="!isEditEnabled" (click)="addTask()" style=" padding: 5px; width: 90px;" >ADD</button>
                                <button mat-raised-button color="primary" [disabled]="todoForm.invalid" *ngIf="isEditEnabled" (click)="updateTask()" style=" padding: 5px; width: 90px;" >UPDATE</button>
    
                            </div>
  
                          </div>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-6">
                        <div class="example-container">
                            <h2>To do</h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="task"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of task;let i=index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="delete(i)"><mat-icon>
                                        delete
                                    </mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="onEdit(item,i)">
                                        <mat-icon>
                                            edit
                                        </mat-icon>
                                    </button>

                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="example-container">
                                    <h2>Done</h2>
                                
                                    <div
                                      cdkDropList
                                      [cdkDropListData]="done"
                                      class="example-list"
                                      (cdkDropListDropped)="drop($event)">
                                      <div class="example-box" *ngFor="let item of done;let i=index" cdkDrag>{{item.description}}
                                        <div class="box">
                                            <button mat-icon-button color="warn" (click)="deletedone(i)"><mat-icon>
                                                delete
                                            </mat-icon></button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
